*{
    margin: 0;
    padding: 0;
  }
  
  body{
    max-width: 1366px;
  }
  body header{
    background-color: rgba(138, 44, 226,0.9);
    height: 7em;
  }

  body header *{
    position: relative;
  }
  
main{
    background-color: pink;
    height: 400vh;
    display: block;
}

.carrinho{
    width: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(163, 163, 163);
    height: 500px;
    display: none;
    margin-left: 65%;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carrinho-title{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.836);
    font-size: larger;
    color: whitesmoke;
    display: flex;
    justify-content: end;
    padding: 18px;
    border-radius: 15px;

}

.carrinho-produtos{
    font-size: medium;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-top: 35%;
    margin-bottom: 55%;
    line-height: 25px;
}

.carrinho .carrinho-btn{
  background: none;
  border: none;
  padding: 4pxpx;
  color: whitesmoke;
  cursor: pointer;
  font-size: 18px;
  
}

.btnMain .btn{
    padding: 4px;
    background-color: lightseagreen;
    border-radius: 15px;
    border: none;
    box-shadow: 4px 4px 4px  rgba(0,0,0,0.2);
    width: 120px;
    height: 40px;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}.btnMain .btn:hover{
    background-color: lightblue;
    transition: 1.5s;
}

.btnMain{
    display: flex;
    justify-content: center;
    height: 7em;
    
  }